@use '../../../styles/abstracts' as *;

:host {
  height: 100%;
  @include flex();
}

.card {
  width: rem(400px);
  min-height: rem(500px);
  padding: 10px;
  border-radius: 5px;

  &__header {
    width: 100%;
    margin-bottom: rem(30px);
    padding: rem(16px) rem(16px) 0 rem(16px);
  }

  &__title {
    font-size: rem(24px);
    font-weight: 600;
    font-family: montserrat;

    &--text {
      color: var(--heading-color-primary);
    }
  }

  &__subtitle {
    font-size: rem(14px);
    line-height: 2.5;

    &--text {
      color: #a4a4a4;
    }

    & a {
      cursor: pointer;
      padding-left: 5px;
    }
  }

  &__content {
    .login {
      &__content-break {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr min-content 1fr;
        column-gap: rem(10px);
        margin: rem(40px) 0 rem(30px);
        align-items: center;
        text-transform: uppercase;
        font-weight: 600;
        font-size: rem(14px);

        &::before,
        &::after {
          content: '';
          display: block;
          height: 1px;
          background: #e0e0e0;
        }
      }
    }
  }
}
