.form {
  margin: 4rem 0 6rem 0;
  ion-item {
    --background: var(--dashboard-sub-background);
    --border-color: var(--create-project-card-border-color);
    --border-radius: rem(5px);
    --padding-start: 0;
    --padding-end: 0;
    --padding-bottom: rem(16px);
  }
}
