@use '../abstracts' as *;

.sidebar {
  width: rem(175px);
  height: 100%;
  position: fixed;
  background-color: black;

  &-logo {
    width: 100%;
    padding: rem(20px) rem(5px);

    img {
      max-width: 100%;
    }
  }
}
