@use '../../../../../styles/abstracts' as *;

:host {
  @include flex(flex-start, center, column);
  gap: 10px;
}

.card {
  width: 100%;
  height: auto;
  min-height: 150px;
  padding: 10px;
  background-color: #181818;
  border-radius: 8px;
  display: grid;
  grid-template-rows: repeat(2, min-content) 1fr min-content;
  row-gap: 10px;
  cursor: pointer;

  &__tags {
    @include flex(flex-start);
    flex-wrap: wrap;
    gap: 5px;
    pointer-events: none;

    & .tag {
      @include flex(flex-start);
      padding: 5px;
      border-radius: 4px;
      background-color: #000;
      pointer-events: none;

      & .tag-color {
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 2px;
      }

      & .tag-name {
        font-size: 10px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #b7b7b7;
        margin-left: 5px;
      }
    }
  }

  &__title {
    width: 100%;
    height: 100%;
    font-size: 15px;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding-top: 5px;
    color: #d8d8d8;
    pointer-events: none;
  }

  &__description {
    font-size: 12px;
    color: #8f8f8f;
  }

  &__footer {
    @include flex(space-between, flex-end);

    & .date {
      height: 100%;
      pointer-events: none;

      & span {
        height: 22px;
        @include flex(flex-start);
      }
    }
  }
}

.cdk-drag-preview {
  @extend .card;
}

.cdk-drag-placeholder {
  background-color: #1e1e1e !important;
  border: 2px dashed #4a4a4a;
  box-sizing: border-box;

  .card__tags,
  .card__title,
  .card__description,
  .card__footer {
    display: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

div.card:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
