@use '../../../styles/abstracts' as *;
@use '../../../styles/animations' as *;

$variants: (
  success: var(--ion-color-success),
  error: var(--ion-color-danger),
  warning: var(--ion-color-warning),
  info: var(--ion-color-info)
);

$positions: (
  top: 5rem,
  bottom: 5rem
);

$animations: (
  // slideUp: slideUp 0.5s ease-in-out forwards,
  // slideDown: slideDown 0.5s ease-in-out forwards,
  slide-out-right: slideOutRight 0.5s ease-in-out forwards,
  slide-out-left: slideOutLeft 0.5s ease-in-out forwards
);

.toast {
  width: 100%;
  max-width: 40rem;
  height: auto;
  position: absolute;
  background-color: var(--ion-color-light);
  color: var(--ion-color-light);
  padding: 1rem;
  border-radius: 0.5rem;
  z-index: 2;

  &::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    left: 0;
    top: 0;
  }

  @each $variant, $color in $variants {
    &-variant--#{$variant} {
      &::before {
        background-color: $color;
      }

      ion-icon {
        color: $color;
      }

      ion-button {
        #{--background}: $color;
      }
    }
  }

  @each $position, $value in $positions {
    &-position--#{$position} {
      #{$position}: $value;
    }
  }

  @each $animation, $value in $animations {
    &-animation--#{$animation} {
      animation: $value;
    }
  }

  &__container {
    @include flex(space-between);
  }

  &__content {
    @include flex(flex-start);
    padding-left: 10px;
    gap: 1rem;

    ion-icon {
      font-size: 2rem;
    }
  }

  &__text-container {
    h3 {
      font-size: 1.5rem;
      font-weight: bold;
      margin: 0;
      padding-bottom: 2px;
      color: var(--heading-color-primary);
    }

    p {
      color: #a4a4a4;
      font-size: 1.2rem;
    }
  }

  &__close {
    ion-button {
      height: 30px;
    }

    ion-icon {
      font-size: 1.5rem;
      color: black;
      cursor: pointer;
    }
  }
}
