@import '../../../styles/abstracts';

.toast {
  width: 100%;
  max-width: 40rem;
  height: auto;
  position: absolute;
  background-color: var(--ion-color-light);
  color: var(--ion-color-light);
  padding: 1rem;
  border-radius: 0.5rem;
  z-index: 2;
  animation: slideOutRight 0.5s ease-in-out forwards;

  &::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    left: 0;
    top: 0;
  }

  &--success {
    &::before {
      background-color: var(--ion-color-success);
    }

    ion-icon {
      color: var(--ion-color-success);
    }

    ion-button {
      --background: var(--ion-color-success);
    }
  }

  &--error {
    &::before {
      background-color: var(--ion-color-danger);
    }

    ion-icon {
      color: var(--ion-color-danger);
    }

    ion-button {
      --background: var(--ion-color-danger);
    }
  }

  &--warning {
    &::before {
      background-color: var(--ion-color-warning);
    }

    ion-icon {
      color: var(--ion-color-warning);
    }

    ion-button {
      --background: var(--ion-color-warning);
    }
  }

  &--info {
    &::before {
      background-color: var(--ion-color-info);
    }

    ion-icon {
      color: var(--ion-color-info);
    }

    ion-button {
      --background: var(--ion-color-info);
    }
  }

  &__container {
    @include flex(space-between);
  }

  &__content {
    @include flex(flex-start);
    padding-left: 10px;
    gap: 1rem;

    ion-icon {
      font-size: 2rem;
    }
  }

  &__text-container {
    h3 {
      font-size: 1.5rem;
      font-weight: bold;
      margin: 0;
      padding-bottom: 2px;
      color: var(--heading-color-primary);
    }

    p {
      color: #a4a4a4;
      font-size: 1.2rem;
    }
  }

  &__close {
    ion-button {
      height: 30px;
    }

    ion-icon {
      font-size: 1.5rem;
      color: black;
      cursor: pointer;
    }
  }
}

@keyframes slideUp {
  from {
    bottom: -2rem;
    opacity: 0;
  }

  to {
    bottom: 2rem;
    opacity: 1;
  }
}

@keyframes slideOutRight {
  from {
    top: 5rem;
    right: -100%;
    // opacity: 0;
  }

  to {
    top: 5rem;
    right: 1rem;
    // opacity: 1;
  }
}
