@use '../../../../styles/abstracts' as *;

.create-project {
  container-type: inline-size;
  container-name: card;

  &__card {
    border: 1px solid var(--select-project-card-border-color);
    border-radius: rem(5px);
    --background: var(--dashboard-sub-background);
    min-height: rem(300px);
    display: grid;
    grid-template-columns: 2fr 3fr;
    z-index: 1;
  }

  &__left-side {
    & .content-container {
      max-width: rem(350px);
      margin-left: rem(25px);
    }
  }

  &__right-side {
    overflow: hidden;

    & .background-image {
      width: 105%;
      height: 105%;
      transform: translate(-2.5%, -2.5%);
      background-image: url('/assets/abstract-lines-background-fixed.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
  }

  &__card-header {
    padding: rem(16px);

    & ion-card-title {
      font-size: rem(20px);
    }
  }

  @container (width <= 1000px) {
    &__card {
      min-width: 1000px;
    }
  }
}
