:host {
  width: 100%;
}

.board-section {
  width: 330px;
  height: 100%;
  padding: 10px;
  border-radius: 8px;
  background-color: var(--dashboard-sub-background);
  display: grid;
  grid-template-rows: min-content 1fr;
  row-gap: 10px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 16px;
    font-weight: bold;
    color: white;
  }

  &__content {
    width: 100%;
    height: auto;
    padding: 5px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  ion-button {
    --background: transparent;
    --background-hover: #4a4a4ab8;
    --transition: background-color 3s ease-in-out;
    min-height: 20px;

    &::part(native) {
      padding: 5px;
    }
  }
}

.cdk-drag-preview {
  @extend .board-section;
}

.cdk-drag-placeholder {
  background-color: #1e1e1e !important;
  border: 2px dashed #4a4a4a;

  .board-section__header {
    display: none;
  }

  .board-section__content {
    display: none;
  }
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

div.board__section:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
