@use '../../../styles/abstracts' as *;
@use '../../../styles/animations' as *;

$variants: (
  success: var(--ion-color-success),
  error: var(--ion-color-danger),
  warning: var(--ion-color-warning),
  info: var(--ion-color-info)
);

$positions: (
  top: rem(80px),
  bottom: rem(50px)
);

$animations: (
  slide-out-right: slideOutRight 0.5s ease-in-out forwards,
  slide-out-left: slideOutLeft 0.5s ease-in-out forwards
);

.toast {
  width: 100%;
  max-width: rem(400px);
  height: auto;
  position: absolute;
  background-color: var(--ion-color-light);
  color: var(--ion-color-light);
  padding: rem(10px);
  border-radius: rem(5px);
  z-index: 2;

  &::before {
    content: '';
    position: absolute;
    width: rem(4px);
    height: 100%;
    left: 0;
    top: 0;
  }

  @each $variant, $color in $variants {
    &-variant--#{$variant} {
      &::before {
        background-color: $color;
      }

      ion-icon {
        color: $color;
      }

      ion-button {
        #{--background}: $color;
      }
    }
  }

  @each $position, $value in $positions {
    &-position--#{$position} {
      #{$position}: $value;
    }
  }

  @each $animation, $value in $animations {
    &-animation--#{$animation} {
      animation: $value;
    }
  }

  &__container {
    @include flex(space-between);
  }

  &__content {
    @include flex(flex-start);
    padding-left: rem(10px);
    gap: rem(10px);

    ion-icon {
      font-size: rem(20px);
    }
  }

  &__text-container {
    h3 {
      font-size: rem(15px);
      font-weight: bold;
      margin: 0;
      padding-bottom: rem(2px);
      color: var(--heading-color-primary);
    }

    p {
      color: #a4a4a4;
      font-size: rem(12px);
    }
  }

  &__close {
    ion-button {
      height: rem(30px);
    }

    ion-icon {
      font-size: rem(15px);
      color: black;
      cursor: pointer;
    }
  }
}
