@keyframes slideUp {
  from {
    top: auto;
    bottom: -100%;
  }

  to {
    top: auto;
    bottom: 2rem;
  }
}

@keyframes slideDown {
  from {
    bottom: auto;
    top: -100%;
  }
  to {
    bottom: auto;
    top: 5rem;
  }
}

@keyframes slideOutRight {
  from {
    right: -100%;
  }

  to {
    right: 1rem;
  }
}

@keyframes slideOutLeft {
  from {
    left: -100%;
  }

  to {
    left: 1rem;
  }
}

@keyframes navLinkFadeIn {
  0% {
    visibility: hidden;
    opacity: 0;
    width: 0;
    height: 0;
  }
  99% {
    visibility: hidden;
    width: 0;
    height: 0;
  }
  100% {
    visibility: visible;
    width: auto;
    height: auto;
    opacity: 1;
  }
}
