@use '../../../styles/abstracts' as *;
@use '../../../styles/animations' as *;

.side-menu {
  height: 100%;
  background-color: var(--dashboard-sub-background);
  border-right: 1px solid var(--dashboard-border-color);
  transition: width 0.3s ease-in-out;

  &--expanded {
    width: var(--menu-width-expanded);
  }

  &--collapsed {
    width: var(--menu-width-collapsed);
  }

  & .ion-menu-button {
    width: rem(45px);
    height: rem(45px);
    position: relative;
    overflow: hidden;
    margin-right: rem(8px);
    --background: transparent;
    --color: #ffffff;
    --border-radius: 50%;
    --background-hover: #ffffff;
    --color-hover: #ffffff;

    &::part(native) {
      transition: background 0.25s ease-in-out;
    }

    & ion-icon {
      width: rem(24px);
      height: rem(24px);
      margin: 0;
      padding: 0;
    }
  }

  &__header {
    width: 100%;
    height: rem(60px);
    @include flex();
    position: relative;
    border-bottom: 1px solid var(--dashboard-border-color);
    background-color: var(--ion-color-primary);
    z-index: 0;

    &::after {
      height: 0;
    }
  }

  &__branding {
    width: 100%;
    height: rem(60px);
    @include flex();
    padding: rem(10px);
    position: relative;
  }

  &__content {
    height: calc(100% - var(--header-height));
    overflow-y: auto;
    --background: var(--dashboard-sub-background);
  }

  &__nav {
    padding: 0;
    @include flex(center, flex-start, column);
  }

  &__nav-item {
    width: 100%;
    cursor: pointer;
    --background: var(--nav-item-background-color);
    --color-hover: inherit;

    &::part(native) {
      border-color: var(--nav-link-border-color);
    }

    &:first-child {
      border-top: 1px solid var(--nav-link-border-color);
    }

    &.is-active {
      color: var(--ion-color-primary);

      & ion-icon {
        color: var(--ion-color-primary);
      }
    }

    & ion-icon {
      width: 15px;
      padding-left: 4px;
    }
  }

  & ion-label {
    font-size: rem(14px);
    font-weight: 500;
    padding-left: rem(10px);
    opacity: 1;
    transition: width 1s ease-in-out;

    &.hide-label {
      padding-left: 0;
    }

    &.show-label {
      padding-left: rem(10px);
      animation: navLinkFadeIn 0.2s ease-in-out 0.2s backwards;
    }
  }
}
