@use '../../../styles/abstracts' as *;
@use '../../../styles/animations' as *;

.side-menu {
  height: 100%;
  background-color: var(--dashboard-sub-background);
  border-right: 1px solid var(--dashboard-border-color);
  transition: width 0.3s ease-in-out;

  &--expanded {
    width: var(--menu-width-expanded);
  }

  &--collapsed {
    width: var(--menu-width-collapsed);
  }

  & .ion-menu-button {
    width: 4.5rem;
    height: 4.5rem;
    position: relative;
    overflow: hidden;
    margin-right: 0.8rem;
    --background: transparent;
    --color: #ffffff;
    --border-radius: 50%;
    --background-hover: #ffffff;
    --color-hover: #ffffff;

    &::part(native) {
      transition: background 0.25s ease-in-out;
    }

    & ion-icon {
      width: 2.4rem;
      height: 2.4rem;
      margin: 0;
      padding: 0;
    }
  }

  &__header {
    width: 100%;
    height: 60px;
    @include flex();
    position: relative;
    border-bottom: 1px solid var(--dashboard-border-color);
    background-color: var(--ion-color-primary);
    z-index: 0;

    &::after {
      height: 0;
    }
  }

  &__branding {
    width: 100%;
    height: 6rem;
    @include flex();
    padding: 1rem;
    position: relative;
  }

  &__content {
    height: calc(100% - var(--header-height));
    overflow-y: auto;
    --background: var(--dashboard-sub-background);
  }

  &__nav {
    padding: 0;
    @include flex(center, flex-start, column);
  }

  &__nav-item {
    width: 100%;
    cursor: pointer;
    --background: black;
    --color-hover: inherit;

    &::part(native) {
      border-color: var(--nav-link-border-color);
    }

    &:first-child {
      border-top: 1px solid var(--nav-link-border-color);
    }

    &.is-active {
      color: var(--ion-color-primary);

      & ion-icon {
        color: var(--ion-color-primary);
      }
    }
  }

  & ion-label {
    font-size: 1.4rem;
    font-weight: 500;
    padding-left: 1rem;
    opacity: 1;
    transition: width 1s ease-in-out;

    &.hide-label {
      padding-left: 0;
    }

    &.show-label {
      padding-left: 1rem;
      animation: navLinkFadeIn 0.2s ease-in-out 0.2s backwards;
    }
  }
}
