/* You can add global styles to this file, and also import other style files */

@import './styles/abstracts';
@import './theme/variables';
@import './styles/base';
@import './styles/vendor';
@import './styles/layouts';
@import './styles/components';

:root {
	--header-height: 6rem;
	--menu-width-expanded: 15rem;
	--menu-width-collapsed: 6rem;
}
