@use '../../../../styles/abstracts' as *;

.project-card {
  border: 1px solid var(--select-project-card-border-color);
  border-radius: 5px;
  --background: var(--dashboard-sub-background);
  min-height: 30rem;
  display: grid;
  grid-template-rows: 5rem 1fr 5rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);

  &__header {
    height: 5rem;
    padding: 1.6rem 2rem;

    & ion-card-title {
      & ion-text {
        font-size: 1.6rem;
        color: var(--select-project-card-title-color);
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }
  }

  &__content {
    padding: 2rem 3rem;
  }

  &__projects-container {
    & ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      row-gap: 8px;
      column-gap: 8px;
      margin-bottom: 1.2rem;

      & .create-project,
      & .select-project {
        & ion-label {
          font-size: 1.4rem;
          font-weight: normal;
          color: var(--select-project-card-color);
          margin-left: 1.6rem;
          transition: all 0.5s ease-in-out;
        }
      }

      & .create-project {
        width: fit-content;
        @include flex(flex-start);
        padding: 1.6rem;

        & a {
          @include flex(flex-start);
        }

        &:hover {
          & span {
            border: 1px dashed var(--ion-color-primary);
          }

          & ion-icon,
          & ion-label {
            color: var(--ion-color-primary);
          }
        }

        & span {
          width: 4.8rem;
          height: 4.8rem;
          border-radius: 1rem;
          border: 1px dashed var(--ion-color-medium-shade);
          @include flex();
          transition: border 0.5s ease-in-out;
        }

        & ion-icon {
          font-size: 2rem;
          color: var(--ion-color-medium-shade);
          transition: color 0.5s ease-in-out;
        }
      }

      & .select-project {
        @include flex(space-between);
        padding: 1.6rem;
        border-radius: 1rem;
        cursor: pointer;
        transition: background-color 0.5s ease-in-out;

        &:hover {
          & .right-side {
            & .project-icon-container {
              opacity: 1;
            }
          }

          & .project-button {
            color: var(--ion-color-primary);
            border: 1px solid var(--ion-color-primary);
          }

          & ion-label {
            color: #4c87ff;
          }

          background-color: #252525;
        }

        & .left-side {
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }

        & .right-side {
          @include flex(flex-end);

          & .project-icon-container {
            width: 55px;
            height: 25px;
            @include flex(space-between);
            opacity: 0;
            transition: opacity 0.5s ease-in-out;

            & span {
              display: block;
              height: 100%;
              width: 25px;
              @include flex();
              border: 1px solid #5e5d5d;
              border-radius: 5px;
              transition: border 0.5s ease-in-out;

              &:hover {
                border: 1px solid var(--ion-color-primary);
                & ion-icon {
                  color: var(--ion-color-primary);
                }
              }

              & ion-icon {
                font-size: 10px;
                transition: color 0.5s ease-in-out;
              }
            }
          }
        }

        & .project-button {
          width: 4.8rem;
          height: 4.8rem;
          padding: 8px 12px;
          border-radius: 8px;
          @include flex();
          color: var(--select-project-card-color);
          border: 1px solid var(--select-project-icon-border-color);
          background-color: transparent;
          transition: all 0.5s ease-in-out;

          & ion-icon {
            font-size: 1.5rem;
            color: inherit;
          }
        }
      }
    }
  }

  .ion-card-footer {
    height: 5rem;
  }
}
