@use '../../../../styles/abstracts' as *;

.project-card {
  border: 1px solid var(--select-project-card-border-color);
  border-radius: rem(5px);
  --background: var(--dashboard-sub-background);
  min-height: rem(300px);
  display: grid;
  grid-template-rows: rem(50px) 1fr rem(50px);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);

  &__header {
    height: rem(50px);
    padding: rem(16px) rem(20px);

    & ion-card-title {
      & ion-text {
        font-size: rem(16px);
        color: var(--select-project-card-title-color);
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }
  }

  &__content {
    padding: rem(20px) rem(30px);
  }

  &__projects-container {
    & ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      row-gap: rem(8px);
      column-gap: rem(8px);
      margin-bottom: rem(12px);
    }
  }

  .ion-card-footer {
    height: 5rem;
  }
}
